In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.patches as mpatches

df = pd.read_csv('/Users/tyco/Desktop/MADS/sanovo_19052025/data/processed/cleaned_data.csv')
df.head(5)

,MerId,MerType,MerDate,MerNumber,MerSubNumber,MerData1,MerData2,MerData3,MerData4,MerData5,MerMinId,MerText,MerDeviceType,MerDeviceNumber,MerPriority,MerDateDay
0,11897185,7,2025-01-30 10:22:00,10,22,181.0,180.0,90.0,NaN,NaN,4620,NaN,0,0,0,2025-01-30
1,11897186,21,2025-01-30 10:21:42,460,12,1.0,22.0,41.0,NaN,NaN,4620,NaN,0,0,0,2025-01-30
2,11897187,23,2025-01-30 10:21:56,460,12,0.0,0.0,0.0,NaN,NaN,4620,NaN,0,0,0,2025-01-30
3,11897188,21,2025-01-30 10:21:56,460,12,1.0,22.0,41.0,NaN,NaN,4620,NaN,0,0,0,2025-01-30
4,11897189,23,2025-01-30 10:21:57,460,12,0.0,0.0,0.0,NaN,NaN,4620,NaN,0,0,0,2025-01-30

In [ ]:


def plot_lanes(df):
    # Identify error periods
    start_time = None
    boxes = []

    for index, row in df.iterrows():
        if row['Error'] == 1 and start_time is None:
            start_time = row['MerDate']
            lane = row['LaneNumber']
        elif row['Error'] == 0 and start_time is not None:
            boxes.append((start_time, row['MerDate'], lane))
            start_time = None

    # Handle case where error continues till the end
    if start_time is not None:
        boxes.append((start_time, df['MerDate'].iloc[-1], lane))

    # Plotting
    fig, ax = plt.subplots(figsize=(12, 8))

    for start, end, lane in boxes:
        ax.plot([start, end], [lane, lane], color='blue', linewidth=10)

    # Highlight stops with vertical lines
    stop_data = df[df['Stop'] == 1]
    for i, stop_date in enumerate(pd.to_datetime(stop_data['MerDate'])):
        ax.axvline(stop_date, color='red', linestyle='--', label='Stops' if i == 0 else "")

    # Add proxy artist for error periods to legend
    error_patch = mpatches.Patch(color='blue', label='Inactive lane')

    ax.yaxis.set_major_locator(ticker.MaxNLocator(integer=True))
    ax.set_xlabel('Time in minutes')
    ax.set_ylabel('Lane Number')
    ax.set_title('Inactive lane periods timeline')
    ax.legend(handles=[error_patch] + ax.get_legend_handles_labels()[0])
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

# Example usage:
plot_lanes(active_lanes)